*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
width: 1000px;
margin: 0 auto;
}
/* background */
.background .box1 div{
    width: 25%;
    height: 200px;
    background-color: white;
    display: inline-block;
}
.background{
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png);
    background-size: cover;
    width: 100%;
    height: 400px;
    background-attachment: fixed;
}
.background .box1{
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}

.background .box1 p{
    text-align: center;
    padding-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.background .box1 p i{
    font-size: 25px;
    padding: 20px;
}
/* background */
/* footer */
.footer .box div{
    width: 50%;
    height: 500px;
    display: inline-block;
}
.footer .box{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.footer .box form #name, #email, #submit{
    width: 70%;
    height: 30px;
}
.footer .box form #message{
    width: 70%;
    height:90px;
}
.footer .box form #name, #email, #message{
    margin-top: 20px;
    margin-bottom: 20px;

}
.footer .box form{
    margin-top: 40px;
}
/* footer */